<div class="content">
  <h1>About</h1>
  <p>A simple app the replaces letters, numbers and symbols with a unicode homoglyph (i.e. a character that looks just like it, but has a different unicode code).</p>
  <p>The replaceable characters are: english letters (a-z, A-Z), digits (0-9), &quot;ç&quot;, &quot;!&quot;, &quot;'&quot;, &quot;(&quot;, &quot;﴿&quot;, &quot;;&quot;, &quot;:&quot;, &quot;?&quot;, &quot;&gt;&quot;, &quot;&lt;&quot;, &quot;ー&quot;, &quot;-&quot;, &quot;_&quot;, &quot;,&quot;, &quot;.&quot;, &quot;*&quot;, &quot;/&quot;, &quot;\\&quot;, &quot;^&quot;, &quot;&ordm;&quot;, &quot; &quot;, &quot;&aelig;&quot;, &quot;&szlig;&quot;.</p>
</div>