<div class="js-confusables editor-container">
  <div class="js-message-box-container message-box-container hidden"></div>

  <input type="tel" class="js-percentage-replace input-item"
    placeholder="Percentage of characters to replace [0, 100]" min="0" max="100">
  
  <div class="split-text">
    <textarea class="js-input side1" placeholder="Input"></textarea>
    
    <button class="js-submit btn btn-primary mobile-only">Confusify</button>
    
    <textarea class="js-output side2" readonly placeholder="Output"></textarea>
  </div>
  <button class="js-submit btn btn-primary">Confusify</button>
</div>