body {
    background-color: $bg-color;
    font-family: $font-family;
}

header#main-nav-header {
    height: $nav-height;
}

nav#main-nav {
    position: fixed;
    height: $nav-height;
    width: 100%;
    margin: 0;

    background-color: $nav-bg-color;
    color: $nav-color;


    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;


        .nav-items {
            display: flex;
        }
    
    
        a.nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            min-width: 100px;
    
            color: $nav-color;
            text-decoration: none;

            &:hover {
                background-color: lighten($nav-bg-color, 4);
            }
        }
    }
}