body {
    background-color: $bg-color;
    font-family: $default-fonts;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', $default-fonts;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.8;
}

// Main Layout

.all-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header#main-nav-header {
    height: $nav-height;
}

nav#main-nav {
    position: fixed;
    height: $nav-height;
    width: 100%;
    margin: 0;

    background-color: $nav-bg-color;
    color: $nav-color;


    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;


        .nav-items {
            background-color: $nav-bg-color;
            display: flex;
        }    
    

        .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            min-width: 100px;
    
            color: $nav-color;
            text-decoration: none;

            &:hover {
                background-color: lighten($nav-bg-color, 4);
            }
        }

        .nav-mobile-button {
            display: none;

            background: url('../images/icons/Hamburger-white.svg') no-repeat center;
            background-size: 28%;
            
            width: $nav-height;
            min-width: 0;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $mobile-max-width) {
    nav#main-nav .container {

        .nav-items {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            max-width: $nav-mobile-max-width;

            transform: translateX(100%);

            flex-direction: column;

            height: calc(100vh - #{$nav-height});

            transition: transform .4s ease-in-out;
        }

        .nav-item {
            height: $nav-height;

            &.nav-mobile-button {
                display: block;
            }
        }
    }

    nav#main-nav.show .container .nav-items {
        transform: translateX(0);
    }
}

footer#footer {
    height: $footer-height;

    background-color: $footer-bg-color;
    color: $footer-color;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }
}



// Text Editor

.editor-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin: 20px 0;

    .split-text {
        textarea.side1, textarea.side2 {
            min-height: 300px;
            padding: 18px;
            resize: vertical;

            border: none;
            outline: none;

            background-color: $split-text-bg-color;
            color: $split-text-color;

            &:focus {
                background-color: $split-text-bg-color-focus;
            }
        }
    }

    .input-item {
        min-height: 40px;
        padding: 10px;

        border: none;
        outline: none;

        background-color: $percent-number-bg-color;
        color: $percent-number-color;

        &:focus {
            background-color: $percent-number-bg-color-focus;
        }
    }
}

@media screen and (max-width: 700px) {
    .editor-container {
        .split-text {
            flex-direction: column;
        }

        .input-item {
            min-height: 50px;
        }
    }
}