.container {
    max-width: 1000px;
    margin: 0 auto;

    .content {
        margin: 20px 0;
        padding: 20px 40px;
        background-color: $content-bg-color;

        &.center {
            text-align: center;
        }
    }
}

.hidden {
    display: none;
}

.split-text {
    display: flex;
    justify-content: center;
    gap: 15px;

    .side1, .side2 {
        flex: 1 1 0;
    }
}

.mobile-only {
    display: none;
}

.btn {
    padding: 10px;
    margin: 0;
    min-width: 150px;
    height: 60px;

    background-color: $btn-bg-color;
    color: $btn-color;
    
    outline: none;
    border: none;
    cursor: pointer;

    &:active {
        padding-left: 12px;
    }

    &:hover {
        background-color: darken($btn-bg-color, 4);
    }

    &.btn-primary {
        background-color: $btn-primary-bg-color;
        color: $btn-primary-color;

        &:hover {
            background-color: darken($btn-primary-bg-color, 4);
        }
    }

    &.btn-secondary {
        background-color: $btn-secondary-bg-color;
        color: $btn-secondary-color;

        &:hover {
            background-color: darken($btn-secondary-bg-color, 4);
        }
    }
}



.message-box {
    display: box;
    min-height: 30px;
    width: 100%;
    padding: 30px;
    overflow-x: hidden;

    color: $message-box-color;
    background-color: $message-box-bg-color;

    &.success {
        background-color: $message-box-success-bg-color;
    }

    &.failure {
        background-color: $message-box-failure-bg-color;
    }
}




@media screen and (max-width: $mobile-max-width) {
    .mobile-only {
        display: initial;
    }
}