<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Confusables</title>

<base href="/">
<link rel="stylesheet" href="css/style.css">
<script src="js/script.js" type="module"></script>