<header id="main-nav-header">
  <nav id="main-nav" class="js-nav-menu">
    <div class="container">
      <a href="/" class="nav-item">Consumables</a>
      <div class="nav-items">
        <a href="/" class="nav-item">Home</a>
        <a href="/about" class="nav-item">About</a>
      </div>
    </div>
  </nav>
</header>